
/*--------------------------------------------------------*/
section {
    position: relative;
    width: 100%;
    height: 83vh;
    display: flex;
}
#bbs_title{
    border-bottom: 1px solid black;
}
#bbs_title h2{
    font-size: 40px;
}
.bord{
    width: 1000px;
    margin-top: 145px;
    margin-left: 450px;
    margin-bottom: 80px;
}
.form_a{
    width: 1000px;
    padding: 0px 0px 10px 10px;
    margin: 10px 0px 20px 0px;
    border-bottom: 1px solid #e7e7e7;
}
.form_a .wirte_form{
    width: 300px;
    justify-content: space-between;
    display: flex;
}

.bord .form_a{
    justify-content: space-between;
    display: flex;
}
#bbsCreated_footer {
    width: 500px;
    margin-left: 250px;
    justify-content: space-between;
    display: flex;
}
#bbsCreated_footer .btn2{
width: 100px;
height: 40px;
border: 0px;
border-radius: 0px;
color: white;
background-color: black;
}
.cmm{
    width: 1000px;
}
.comment-title{
    font-size: 20px;
    color: #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}
.comment{
    width: 1000px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.com{
    width: 1000px;
    justify-content: start;
    border-bottom: 1px solid #cfcfcf;
}
.com2{
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-top: 10px;
    border-top: 3px solid #cfcfcf;
}

.comment input{
    width: 750px;
    height: 30px;
}
.comment button{
    width: 100px;
    height: 35px;
    border: 0px;
    background-color: black;
    color: white;
}
.modify{
    width: 50px;
    height: 30px;
    border: 0px;
    color: white;
    background-color: black;
}
.date{
    margin-top: 15px;
}
.a{
    margin-top: 10px;
    margin-bottom: 20px;
}
/*-------------------------------------------------------*/
