
/*--------------------------------------------------------*/
section {
    height: 1000px;
    width: 100%;
    z-index: -1;
}
.join{
    position: absolute;
    width: 800px;
    height: 750px;
    text-align: center;
    top: 130px;
    left: 560px;
}
.join h2{
    font-size: 30px;
}
.bt{
    width: 90px;
    height: 30px;
    margin-top: 5px;
    background-color: black;
    color: white;
    border: 0px;
    border-radius: 5px;
}
.basic{
    width: 500px;
    height: 600px;
    text-align: left;
    margin-left: 150px;
    margin-top: 70px;
}
.basic h3{
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}
.basic div{
    margin-top: 20px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.basic .text{
    width: 140px;
    height: 30px;
    margin-bottom: 15px;
}
.car{
    width: 500px;
    height: 300px;
}
.basic div{
    justify-content: space-between;
    display: flex;
}
.basic .id{
    justify-content: start;
}
.basic .id .text{
    margin-left: 95px;
}
.id .text{
    margin-left: -30px;
    border: 0px;
}
.basic .pw{
    justify-content: flex-start;
}
.pw input{
    margin-left: 80px;
    border: 0px;
}
.basic .pw1{
    justify-content: flex-start;
}
.pw1 input{
    margin-left: 47px;
    border: 0px;
}
.basic .name{
    justify-content: flex-start;
}
.name input{
    margin-left: 110px;
    border: 0px;
}
.basic .number{
    justify-content: flex-start;
}
.number input{
    margin-left: 80px;
    border: 0px;
}
.basic .mail{
    justify-content: start;
}
.basic .mail .text{
    margin-left: 95px;
}
.mail .text{
    margin-left: -30px;
    border: 0px;
}
.carinfo .text{
    margin-left: -40px;
    border: 0px;
}
.basic .check{
    font-size: 15px;
}
.basic .bt1{
    justify-content: space-evenly;
    border: 0px;
}
.submit{
    width: 150px;
    height: 50px;
    margin-top: 50px;
    border: 0px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

/* .id{
    justify-content: space-between;
    display: flex;
}
.mail{
    justify-content: space-between;
    display: flex;
}
.carinfo{
    justify-content: space-between;
    display: flex;
} */
/*-------------------------------------------------------*/
